# キャッシュ関連
data_cache/
bt_cache/
results_csv/
__pycache__/
common/__pycache__/
logs/*
logs/images/
.pytest_cache/
# temp files
*.tmp
.env
*.env
.coverage

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
temp_test_cache